default: &default
  adapter: sqlite3
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: db/development.sqlite3

test:
  <<: *default
  database: db/test.sqlite3

production:
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  url: <%= ENV['DATABASE_URL'] %>

cable:
  adapter: postgresql
  url: <%= ENV['DATABASE_URL'] %>

queue:
  <<: *default
  adapter: postgresql
  url: <%= ENV['QUEUE_DATABASE_URL'] || ENV['DATABASE_URL'] %>